.App {
  text-align: center;
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}


.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(6px + 1vmin);*/
  /*color: white;*/
}




